<app-main-container title="Hola Propietario" subTitle="Aca podras modificar el estado de pagos" (infoButtonClick)="showInfo()">

  <div class="d-flex justify-content-between align-items-center mb-3">
    <div class="btn-group me-5" role="group">
      <div class="col-sm-12 col-md-8 col-xl-8">
        <div class="input-group">
          <span class="input-group-text" id="search-icon">
            <i class="bi bi-search"></i>
          </span>
          <input
            type="text"
            class="form-control me-2"
            id="filter-text-box"
           
            placeholder="Buscar..."
          />
          <app-table-filters class="me-2" [filters]="filterConfig" (filterValueChange)="filterChange($event)"></app-table-filters>
  
        </div>
      </div>
  
  
    </div>
  
    <div class="d-flex align-items-center">

      <!-- <button type="button" class="btn btn-outline-primary" (click)="redirectToForm()">+</button> -->
  
  
      <div class="vertical-line mx-3"></div>
      <button class="btn btn-success me-2" (click)="exportToExcel()">
        <i class="bi bi-file-earmark-excel"></i>
      </button>
      <button class="btn btn-danger me-2" (click)="exportToPdf()">
        <i class="bi bi-file-earmark-pdf"></i>
      </button>
    </div>
  </div>
  
  



  <div class="table-container">
    <table
      class="table table-striped fixed-table"
      style="border: 1px solid rgba(0, 0, 0, 0.15); border-collapse: collapse"
      #ticketsTable
    >
      <thead>
        <tr>
          <!-- <th scope="col" class="text-center">Propietario</th> -->
          <th scope="col" class="text-center">Periodo</th>
          <th scope="col" class="text-center">Vencimiento</th>
          <th scope="col" class="text-center">Total</th>
          <th scope="col" class="text-center">Estado</th>
          <th scope="col" class="text-center">Acciones</th>
        </tr>
      </thead>
      <tbody>
        @for (item of ticketOwnerList; track $index) {
        <tr>
          <th scope="row" class="text-center">
            {{ (item.period | periodToMonthYear | capitalize) }}
          </th>
          <td class="text-center">
            {{ item.expirationDate | date : "dd/MM/YYYY" }}
          </td>
          <td class="text-center">
            {{
              calculateTotal(item)
                | currency : "" : "symbol-narrow" : "1.2-2" : "es-ES"
            }}
          </td>
          <td class="text-center">
            <span
              class="badge border border-secondary text-success p-2"
              [ngClass]="{
                'text-success border-success': item.status === 'PAID',
                'text-danger border-danger': item.status === 'CANCELED',
                'text-warning border-warning': item.status === 'PENDING'
              }"
            >
              {{ item.status | translateStatusTicket }}
            </span>
          </td>

          <td class="text-center">
            <div class="btn-group" ngbDropdown>
              <button
                type="button"
                class="btn btn-sm btn-secondary dropdown-toggle"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                ngbDropdownToggle
              >
                <i class="bi bi-three-dots-vertical"></i>
              </button>
              <ul ngbDropdownMenu class="dropdown-menu">
                <li>
                  <a
                    class="dropdown-item"
                    data-bs-toggle="modal"
                    data-bs-target="#ticketModal"
                    (click)="selectTicket(item)"
                    >Ver expensa</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    data-bs-toggle="modal"
                    data-bs-target="#statusModal"
                    (click)="selectTicket(item)"
                    >Pagar con Transferencia</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    data-bs-toggle="modal"
                    data-bs-target="#ticketModal"
                    (click)="selectTicket(item)"
                    >Pagar con Mercadopago</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    (click)="downloadTicket(item)"
                    >Descargar Expensa</a
                  >
                </li>
              </ul>
            </div>
          </td>
        </tr>
        }@empty {
          <td colspan="7" class="text-center">
            <div class="text-center p-3">
              <div class="alert alert-secondary">
                No hay registros para mostrar
              </div>
            </div>
          </td>
          }
      </tbody>
    </table>
  </div>

  <div class="d-flex justify-content-between align-items-center mt-3">

    <div class="form-group mb-3 me-2">
      <select
        id="itemsPerPage"
        class="form-select"
        [(ngModel)]="pageSize"
        (change)="onItemsPerPageChange()"
      >
        @for(option of sizeOptions; track $index) {
        <option [value]="option">{{ option }}</option>
        }
      </select>
    </div>

    <div class="ms-auto"></div>

    <ngb-pagination
      [(page)]="currentPage"
      [pageSize]="pageSize"
      [collectionSize]="totalItems"
      (pageChange)="onPageChange($event)"
      [maxSize]="5"
      [boundaryLinks]="false"
    ></ngb-pagination>
  </div>
</app-main-container>

























<!-- Modal -->
<div
  class="modal fade"
  id="ticketModal"
  tabindex="-1"
  aria-labelledby="ticketModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ticketModalLabel">
          Factura - Ticket N° {{ ticketSelectedModal.ticketNumber }}
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <strong>Dirigido a:</strong>
            {{
              ticketSelectedModal.ownerId.first_name +
                " " +
                ticketSelectedModal.ownerId.second_name +
                " " +
                ticketSelectedModal.ownerId.last_name
            }}
          </div>
          <div class="col-md-6 text-end">
            <strong>Fecha de emisión:</strong>
            {{ ticketSelectedModal.issueDate | date : "dd/MM/yyyy" }}<br />
            <strong>Fecha de expiración:</strong>
            {{ ticketSelectedModal.expirationDate | date : "dd/MM/yyyy" }}
          </div>
        </div>
        <hr />

        <table class="table table-bordered">
          <thead class="table-warning">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Descripción</th>
              <th scope="col">Cantidad</th>
              <!-- <th scope="col">Precio Unitario</th> -->
              <th scope="col">Costo Total</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let item of ticketSelectedModal?.ticketDetails;
                let i = index
              "
            >
              <td>{{ i + 1 }}</td>
              <td>{{ item.description }}</td>
              <td>
                {{
                  item.amount
                    | currency : "" : "symbol-narrow" : "1.2-2" : "es-ES"
                }}
              </td>
              <!-- <td>{{ item.price | currency }}</td> -->
              <!-- <td>{{ (item.quantity * item.price) | currency }}</td> -->
            </tr>
          </tbody>
        </table>

        <div class="row">
          <div class="col-md-6">
            <strong >Estado:  </strong>
            <span 
          class="badge bg-transparent p-2 border" 
          [ngClass]="{
            'border-success text-success': ticketSelectedModal.status === 'PAID',
            'border-danger text-danger': ticketSelectedModal.status === 'CANCELED',
            'border-warning text-warning': ticketSelectedModal.status === 'PENDING'
          }"
          >
          {{ ticketSelectedModal.status | translateStatusTicket }}
          </span>
          </div>
          <div class="col-md-6 text-end">
            <strong>Total:</strong>
            {{
              calculateTotal(ticketSelectedModal)
                | currency : "" : "symbol-narrow" : "1.2-2" : "es-ES"
            }}
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cerrar
        </button>
        <!-- <button type="button" class="btn btn-primary" (click)="pagar()">Pagar</button> -->
        <div id="wallet_container"></div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Comprobante de Transferencia -->
<div
  class="modal fade"
  id="statusModal"
  tabindex="-1"
  aria-labelledby="ticketModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ticketModalLabel">
          Cargar comprobante de transferencia
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="row mb-4">
          <div class="col-md-6">
            <h6 class="mb-0">
              ID Factura:
              <strong>{{ ticketSelectedModal.ticketNumber }}</strong>
            </h6>
          </div>
          <div class="col-md-6">
            <h6 class="mb-0">
              Nombre Propietario:
              <strong>{{
                ticketSelectedModal.ownerId.first_name +
                  " " +
                  ticketSelectedModal.ownerId.second_name +
                  " " +
                  ticketSelectedModal.ownerId.last_name
              }}</strong>
            </h6>
          </div>
          <div class="col-md-6">
            <h6 class="mb-0">
              Fecha de Emisión:
              <strong>{{
                ticketSelectedModal.issueDate | date : "dd/MM/yyyy"
              }}</strong>
            </h6>
          </div>
          <div class="col-md-6">
            <h6 class="mb-0">
              Fecha de Expiración:
              <strong>{{
                ticketSelectedModal.expirationDate | date : "dd/MM/yyyy"
              }}</strong>
            </h6>
          </div>
        </div>
        <hr />
        <div class="d-flex justify-content-center">
          <div class="input-group mb-3">
            <input
              type="file"
              class="form-control"
              id="inputGroupFile02"
              (change)="onFileSelected($event)"
            />
            <label class="input-group-text" for="inputGroupFile02"
              >Subir comprobante</label
            >
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cerrar
        </button>
        <button
          type="button"
          class="btn btn-primary"
          [disabled]="!selectedFile"
          (click)="onUpload()"
        >
          Cargar Comprobante
        </button>
      </div>
    </div>
  </div>
</div>
