.equal-height-card {
  min-height: 300px;
}


.full-height-card {
  height: 100%; 
}

.full-height-card .card-body {
  display: flex; 
  flex-direction: column;
  height: 100%; 
}

.chart-container {
  flex-grow: 1; 
  position: relative;
}
