
<app-main-container title="Registrar Contacto" (infoButtonClick)="showInfo()">

<div class="container mt-5 custom-form">

  <form [formGroup]="newContactForm" (ngSubmit)="sendForm()" class="row g-3 container">
    
    <!-- Selector de tipo de contacto -->
    <div class="form-group row mb-2">
      <label for="contactType" class="col-md-2 col-form-label text-orange">Tipo de Contacto</label>
      <div class="col-md-4">
        <select formControlName="contactType" class="form-select" (change)="onContactTypeChange()" required
        [ngClass]="{
          'is-invalid': newContactForm.get('contactType')?.invalid && (newContactForm.get('contactType')?.dirty || newContactForm.get('contactType')?.touched),
          'is-valid': newContactForm.get('contactType')?.valid && (newContactForm.get('contactType')?.dirty || newContactForm.get('contactType')?.touched)
        }">
          <option value="" disabled>Seleccione tipo de contacto</option>
          <option value="EMAIL">Email</option>
          <option value="PHONE">Teléfono</option>
        </select>
        <div class="invalid-feedback" *ngIf="newContactForm.get('contactType')?.invalid && (newContactForm.get('contactType')?.dirty || newContactForm.get('contactType')?.touched)">
          Por favor seleccione un tipo de contacto
        </div>
      </div>
    </div>

    <!-- Campo Email -->
     
    <div class="form-group row mb-2" *ngIf="newContactForm.get('contactType')?.value==='EMAIL'">
      <label for="email" class="col-md-2 col-form-label text-orange">Email</label>
      <div class="col-md-10">
        <input type="email" class="form-control custom-input" formControlName="contactValue" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+.[a-z]{2,}$"
          [ngClass]="{
          'is-invalid': newContactForm.get('contactValue')?.invalid && (newContactForm.get('contactValue')?.dirty || newContactForm.get('contactValue')?.touched),
          'is-valid': newContactForm.get('contactValue')?.valid && (newContactForm.get('contactValue')?.dirty || newContactForm.get('contactValue')?.touched)}">
        <div class="invalid-feedback" *ngIf="newContactForm.get('contactValue')?.invalid && (newContactForm.get('contactValue')?.dirty || newContactForm.get('contactValue')?.touched)"> 
          <div *ngIf="newContactForm.get('contactValue')?.errors?.['required']">El email es requerido</div>
          <div *ngIf="newContactForm.get('contactValue')?.errors?.['pattern']">Por favor ingrese un email válido</div>
          <div *ngIf="newContactForm.get('contactValue')?.errors?.['contactExists']">Contacto ya existente</div>

        </div>
      </div>
    </div>
  

    <!-- Campo Teléfono -->
    <div class="form-group row mb-2" *ngIf="newContactForm.get('contactType')?.value==='PHONE'">
      <label for="phone" class="col-md-2 col-form-label text-orange">Teléfono</label>
      <div class="col-md-10">
        <input type="tel" class="form-control custom-input" formControlName="contactValue" required pattern="^[0-9]{10}$"

          [ngClass]="{ 
            'is-invalid': newContactForm.get('contactValue')?.invalid && (newContactForm.get('contactValue')?.dirty || newContactForm.get('contactValue')?.touched),
            'is-valid': newContactForm.get('contactValue')?.valid && (newContactForm.get('contactValue')?.dirty || newContactForm.get('contactValue')?.touched)}">
        <div class="invalid-feedback" *ngIf="newContactForm.get('contactValue')?.invalid && (newContactForm.get('contactValue')?.dirty || newContactForm.get('contactValue')?.touched)">
          <div *ngIf="newContactForm.get('contactValue')?.errors?.['required']">El teléfono es requerido</div>
          <div *ngIf="newContactForm.get('contactValue')?.errors?.['pattern']">Por favor ingrese un teléfono válido (10 dígitos)</div>
          <div *ngIf="newContactForm.get('contactValue')?.errors?.['contactExists']">Contacto ya existente</div>
        </div>
      </div>
    </div>

    <!-- Botones de Acción -->
    <div class="d-flex justify-content-end mb-3">
      <button type="button" class="btn btn-danger me-2" (click)="resetForm()">Cancelar</button>
      <button type="submit" class="btn btn-primary" [disabled]="!newContactForm.valid">Guardar</button>
    </div>
  </form>
</div>

<!-- Modal de Información -->
<div [class.show]="isModalOpen" [style.display]="isModalOpen ? 'block' : 'none'" class="modal fade" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ modalTitle }}</h5>
        <button type="button" class="btn-close" (click)="isModalOpen = false"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <!-- Introducción -->
          <div class="alert alert-info mb-2">
            <h5 class="alert-heading">Registrar contactos.</h5>
            <p class="mb-0 small">Este formulario permite el registro de nuevos contacto.s</p>
          </div>

          <!-- Descripción de los campos -->
          <div class="card mb-2">
            <div class="card-header">
              <h5 class="mb-0">Descripción de los Campos</h5>
            </div>
            <div class="card-body">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <strong>Tipo de contacto:</strong> Email o teléfono.
                </li>
                
          
                <li class="list-group-item">
                  <strong>Valor:</strong> El contacto en si mismo.
                </li>
              </ul>
            </div>
          </div>

       
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="isModalOpen = false">Volver</button>
      </div>
    </div>
  </div>
</div>


<!-- Backdrop para la modal -->
<div *ngIf="isModalOpen" class="modal-backdrop fade show"></div>
</app-main-container>
