<app-main-container title="Asignar Lote a un Propietario" (infoButtonClick)="openInfo()">


  <h2>Seleccione un propietario</h2>
  <app-table-filters style="z-index: 1;" [filters]="filterConfig" (filterValueChange)="filterChange($event)"></app-table-filters>


  <!-- Lista de dueños -->
  <div class="table-container">

    <table class="table table-striped fixed-table" style="border: 1px solid rgba(0, 0, 0, 0.150); border-collapse: collapse;">
      @if (owners.length === 0) {
        <thead>
        <td colspan="7">
          <div class="text-center p-2">
            <div class="alert alert-secondary text-center" role="alert">
              No hay elementos para mostrar
            </div>
          </div>
        </td>
        </thead>
      } @else {
      <!-- Si hay elementos -->
        <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>
          <th scope="col">Tipo Doc</th>
          <th scope="col">Doc N°</th>
          <th scope="col">Tipo Propietario</th>
        </tr>
        </thead>
        <tbody>
          @for(owner of owners; track owner)
          {

            @if (owner.id) {
              <tr [class.table-active]="isSelected(owner.id)"
                  (click)="selectOwner(owner)"
                  [ngClass]="{'table-success': isSelected(owner.id)}">
                <td>
                  {{ owner.firstName + " " + owner.secondName }}
                </td>
                <td>
                  {{ owner.lastName }}
                </td>
                <td>
                  {{ translateTable(owner.documentType, documentTypeDictionary) }}
                </td>
                <td>
                  {{ owner.documentNumber }}
                </td>
                <td>
                  {{ translateTable(owner.ownerType, ownerTypeDictionary) }}
                </td>
              </tr>
            }
          }
        </tbody>
      }
    </table>
  </div>

  <!-- Filtro y Paginación -->

  <div class="d-flex justify-content-between align-items-center mt-3">
    <!-- Selector de items por página -->
    <div class="form-group mb-3 me-2">

    </div>

    <!-- Paginación -->
    <div class="ms-auto"></div>
    <ngb-pagination
      [(page)]="currentPage"
      [pageSize]="pageSize"
      [collectionSize]="totalItems"
      (pageChange)="onPageChange($event)"
      [maxSize]="5"
      [boundaryLinks]="false"
    ></ngb-pagination>
  </div>

  <!-- Asignar un lote -->
  <form [formGroup]="plotForm" class="row g-3" (ngSubmit)="onSubmit()">
    <h5 class="mt-2 p-2">Asociar un lote</h5>

    <div class="col-md-6">
      <div class="row g-0 align-items-center">
        <div class="col-auto me-2">
          <label for="block-number" class="col-form-label">
            Número de Manzana <label class="text-danger">*</label>
          </label>
        </div>
        <div class="col">
          <input
            type="number"
            class="form-control"
            id="block-number"
            formControlName="blockNumber"
            [ngClass]="{'is-invalid': plotForm.get('blockNumber')?.invalid && plotForm.get('blockNumber')?.touched, 'is-valid': plotForm.get('blockNumber')?.valid && plotForm.get('blockNumber')?.touched}"
          />
        </div>
        <!-- Mostrar errores de validación -->
        <div class="col-12">
          @if (plotForm.get('blockNumber')?.touched && plotForm.get('blockNumber')?.invalid) {
            @if (plotForm.get('blockNumber')?.hasError('required')) {
              <small class="text-danger">Requerido</small>
            }
            @if (plotForm.get('blockNumber')?.hasError('min')) {
              <small class="text-danger">El número mínimo es 1</small>
            }
          }
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="row g-0 align-items-center">
        <div class="col-auto me-2">
          <label for="plot-number" class="col-form-label">
            Número de Lote <label class="text-danger">*</label>
          </label>
        </div>
        <div class="col">
          <input
            type="number"
            class="form-control"
            id="plot-number"
            formControlName="plotNumber"
            [ngClass]="{'is-invalid': plotForm.get('plotNumber')?.invalid && plotForm.get('plotNumber')?.touched, 'is-valid': plotForm.get('plotNumber')?.valid && plotForm.get('plotNumber')?.touched}"
          />
        </div>
        <!-- Mostrar errores de validación -->
        <div class="col-12">
          @if (plotForm.get('plotNumber')?.touched && plotForm.get('plotNumber')?.invalid) {
            @if (plotForm.get('plotNumber')?.hasError('required')) {
              <small class="text-danger">Requerido</small>
            }
            @if (plotForm.get('plotNumber')?.hasError('min')) {
              <small class="text-danger">El número mínimo es 1</small>
            }
            @if (plotForm.get('plotNumber')?.hasError('serverError')) {
              <small class="text-danger">Error en el servidor, por favor intenta nuevamente</small>
            }
            @if (plotForm.get('plotNumber')?.hasError('plotNotExists')) {
              <small class="text-danger ms-2">No existe un lote con ese número en esa manzana</small>
            }
            @if (plotForm.get('plotNumber')?.hasError('plotHaveOwner')) {
              <small class="text-danger ms-2">Ese lote tiene un dueño asociado</small>
            }
          }
        </div>
      </div>
    </div>
    <div class="col-12 d-flex justify-content-end mt-5">
      <div class="mx-2">
      </div>
      <div>
        <button type="submit" class="btn btn-primary">Asociar</button>
      </div>
    </div>
  </form>
</app-main-container>
