<div class="modal-header fs-6 py-1">
  <h4 class="modal-title">Cambiar la contraseña</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
</div>
<div class="modal-body fs-6 py-2">
  <div class="container-fluid">       
    <form [formGroup]="changePassForm" (ngSubmit)="onSubmit()" class="m-2">
      <!-- Contraseña actual -->
      <div class="mb-3">
        <label for="oldPassword" class="form-label">
          Contraseña actual<span class="text-danger">*</span>
        </label>
        <input
          type="password"
          class="form-control"
          id="oldPassword"
          formControlName="oldPassword"
          [ngClass]="{
            'is-invalid': changePassForm.get('oldPassword')?.invalid && changePassForm.get('oldPassword')?.touched,
            'is-valid': changePassForm.get('oldPassword')?.valid && changePassForm.get('oldPassword')?.touched
          }"
        />
        <div>
          @if (changePassForm.get('oldPassword')?.invalid &&
          changePassForm.get('oldPassword')?.touched) { @if
          (changePassForm.get('oldPassword')?.errors?.['required']) {
          <small class="text-danger ms-2">Requerido</small>
          } }
        </div>
      </div>

      <div class="mb-3">
        <label for="newPassword" class="form-label">
          Nueva contraseña<span class="text-danger">*</span>
        </label>
        <div class="input-group">
          <input
            type="password"
            class="form-control"
            id="newPassword"
            formControlName="newPassword"
            [ngClass]="{
              'is-invalid': changePassForm.get('newPassword')?.invalid && changePassForm.get('newPassword')?.touched && !isValidPassword(),
              'is-valid': changePassForm.get('newPassword')?.valid && changePassForm.get('newPassword')?.touched && isValidPassword()
            }"
          />
          <button class="btn btn-outline-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseInfo" aria-expanded="false" aria-controls="collapseInfo">
            <i class="bi bi-info-lg"></i>
          </button>          
        </div>
        <div>
          @if (changePassForm.get('newPassword')?.touched) { @if
          (changePassForm.get('newPassword')?.invalid &&
          changePassForm.get('newPassword')?.errors?.['required']) {
          <small class="text-danger ms-2">Requerido</small>
          }@else if (changePassForm.get('newPassword')?.touched &&
          !isValidPassword()) {
          <small class="text-danger ms-2"
            >La contraseña debe tener un formato válido</small
          >
          } }
        </div>
        <div class="collapse" id="collapseInfo">
          <div class="card card-body">
            <p class="card-text">
              El formato de la contraseña debe ser el siguiente:
            </p>
            <ul>
              <li class="card-text">Tener 8 o más caracteres</li>
              <li class="card-text">Contener al menos una letra minúscula</li>
              <li class="card-text">Contener al menos una letra mayúscula</li>
              <li class="card-text">Contener al menos un número</li>
              <li class="card-text">Contener al menos un símbolo (Ej: &, !, ?)</li>
            </ul>
          </div>
        </div>
        
      </div>

      <div class="mb-3">
        <label for="repeatPassword" class="form-label">
          Repetir contraseña<span class="text-danger">*</span>
        </label>
        <input
          type="password"
          class="form-control"
          id="repeatPassword"
          formControlName="repeatPassword"
          [ngClass]="{
            'is-invalid': (changePassForm.get('repeatPassword')?.invalid && changePassForm.get('repeatPassword')?.touched) || 
                         (!arePasswordEquals() && changePassForm.get('repeatPassword')?.touched),
            'is-valid': changePassForm.get('repeatPassword')?.valid && changePassForm.get('repeatPassword')?.touched && arePasswordEquals()
          }"
        />
        <div>
          @if ( changePassForm.get('repeatPassword')?.touched) { @if
          (changePassForm.get('repeatPassword')?.invalid &&
          changePassForm.get('repeatPassword')?.errors?.['required'] ) {
          <small class="text-danger ms-2">Requerido</small>
          }@else if (!arePasswordEquals()) {
          <small class="text-danger ms-2"
            >Ambas contraseñas deben ser iguales</small
          >
          } }
        </div>
      </div>
    </form>      
  </div>
</div>
<div class="modal-footer py-2">
  <button type="button" class="btn btn-danger" (click)="activeModal.close()">Cancelar</button>
  <button type="button" class="btn btn-primary" (click)="onSubmit()">Aceptar</button>  
</div>

