<app-main-container title="Cambiar contraseña" (infoButtonClick)="openInfo()">
  <form
    [formGroup]="changePassForm"
    (ngSubmit)="onSubmit()"
    class="row g-3 m-2"
  >
    <div class="col-md-6">
      <div class="flex-row d-flex align-items-center">
        <label for="oldPassword" class="col-form-label col-md-2"
          >Contraseña actual<label class="text-danger">*</label></label
        >
        <input
          type="password"
          class="form-control m-2"
          id="oldPassword"
          formControlName="oldPassword"
          [ngClass]="{
            'is-invalid':
              changePassForm.get('oldPassword')?.invalid &&
              changePassForm.get('oldPassword')?.touched,
            'is-valid':
              changePassForm.get('oldPassword')?.valid &&
              changePassForm.get('oldPassword')?.touched
          }"
        />
      </div>
      <div>
        @if (changePassForm.get('oldPassword')?.invalid &&
        changePassForm.get('oldPassword')?.touched) { @if
        (changePassForm.get('oldPassword')?.errors?.['required']) {
        <small class="text-danger ms-2">Requerido</small>
        } }
      </div>
    </div>

    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <p class="card-text">
            EL formato de la nueva contraseña es el siguiente:
          </p>
          <ul>
            <li class="card-text">
                Debe tener 8 o más caracteres
            </li>
            <li class="card-text">
                Debe contener al menos una letra minúscula
            </li>
            <li class="card-text">
                Debe contener al menos una letra mayúscula
            </li>
            <li class="card-text">
                Debe contener al menos un número
            </li>
            <li class="card-text">
                Debe contener al menos un símbolo (Ej: &, !, ?, @)
            </li>
        </ul>
        <p class="card-text">
            EL formato de la nueva contraseña es el siguiente:
          </p>
        </div>
      </div>

    <div class="col-md-6">
      <div class="flex-row d-flex align-items-center">
        <label for="newPassword" class="col-form-label col-md-2"
          >Nueva contraseña<label class="text-danger">*</label></label
        >
        <input
          type="password"
          class="form-control m-2"
          id="newPassword"
          formControlName="newPassword"
          [ngClass]="{
            'is-invalid':
              changePassForm.get('newPassword')?.invalid &&
              changePassForm.get('newPassword')?.touched &&
              !isValidPassword(),
            'is-valid':
              changePassForm.get('newPassword')?.valid &&
              changePassForm.get('newPassword')?.touched &&
              isValidPassword()
          }"
        />
      </div>
      <div>
        @if (changePassForm.get('newPassword')?.invalid &&
        changePassForm.get('newPassword')?.touched) { @if
        (changePassForm.get('newPassword')?.errors?.['required']) {
        <small class="text-danger ms-2">Requerido</small>
        } } @if (!isValidPassword()) {
        <small class="text-danger ms-2"
          >La contraseña debe tener un formato válido</small
        >
        }
      </div>
    </div>

    <div class="col-md-6">
      <div class="flex-row d-flex align-items-center">
        <label for="repeatPassword" class="col-form-label col-md-2"
          >Repetir contraseña<label class="text-danger">*</label></label
        >
        <input
          type="password"
          class="form-control m-2"
          id="repeatPassword"
          formControlName="repeatPassword"
          [ngClass]="{
            'is-invalid':
              changePassForm.get('repeatPassword')?.invalid &&
              changePassForm.get('repeatPassword')?.touched,
            'is-valid':
              changePassForm.get('repeatPassword')?.valid &&
              changePassForm.get('repeatPassword')?.touched
          }"
        />
      </div>
      <div>
        @if (changePassForm.get('repeatPassword')?.invalid &&
        changePassForm.get('repeatPassword')?.touched) { @if
        (changePassForm.get('repeatPassword')?.errors?.['required']) {
        <small class="text-danger ms-2">Requerido</small>
        } }
        @if (submitted && arePasswordEquals()) {
        <small class="text-danger ms-2">Ambas contraseñas deben ser iguales</small>
        }
      </div>
    </div>

    <div class="col-12 d-flex justify-content-end mt-5">
      <div class="mx-2">
        <button type="button" class="btn btn-danger" (click)="onCancel()">
          Cancelar
        </button>
      </div>
      <div>
        <button type="submit" class="btn btn-primary">Guardar</button>
      </div>
    </div>
  </form>
</app-main-container>
