/* .btn-custom {
    background-color: #d98b16;
    color: white;
    border: none;
}

.btn-custom:hover {
    background-color: #c87a14; 
}

.form-control {
    transition: border-color 0.3s ease;
}

.form-control:focus {
    border-color: #d98b16; 
    box-shadow: 0 0 0 0.2rem rgba(217, 139, 22, 0.25); 
}

.card-company {
    border: 1px #d98b16 solid;
} */
