@if (isAuthenticated$ | async ) {
  <app-toasts aria-live="polite" aria-atomic="true" ></app-toasts>

  @if (showNotifications) {
    <app-notifications 
    class="mt-5" 
    style="position: fixed; bottom: 92%; right: 10%; width: 100%; z-index: 1000;">
    </app-notifications>
  }

  <app-main-layout [navbarMenu]="navbarMenu" (logoutButtonClick)="onLogoutButtonClick()" (notificationButtonClick)="onNotificationClick()" (profileButtonClick)="openProfile()">

  </app-main-layout>

} @else {
  <!-- Faltaba agreagar la variable current url -->
  @if ((currentUrl$ | async) === '/forgotpassword') {
    <app-forgot-password></app-forgot-password>
  } @else {
    <app-login></app-login>
  }
}