<app-main-container title="Dashboard de propietarios y usuarios">

  <!-- Owner Charts Section -->
  <div class="chart-section mb-4 p-3 border rounded">
    <h3 class="section-title">Estadísticas de Propietarios</h3>
    <div class="charts d-flex justify-content-between mt-4">
      <div class="chart">
        <h6>Distribución de KYC Status</h6>
        <canvas
          baseChart
          height="220px"
          [type]="'pie'"
          [datasets]="pieChartKycStatusDatasets"
          [labels]="pieChartKycStatusLabels"
          [options]="pieChartOptions"
        ></canvas>
      </div>

      <div class="chart">
        <h6>Distribución de Tipo de Propietario</h6>
        <canvas
          baseChart
          height="220px"
          [type]="'bar'"
          [datasets]="barChartOwnerTypeDatasets"
          [labels]="barChartOwnerTypeLabels"
          [options]="barChartOptions"
        ></canvas>
      </div>

      <div class="chart">
        <h6>Propietarios Activos e Inactivos</h6>
        <canvas
          baseChart
          height="220px"
          [type]="'pie'"
          [datasets]="pieChartActiveStatusDatasets"
          [labels]="pieChartActiveStatusLabels"
          [options]="pieChartOptions"
        ></canvas>
      </div>
    </div>
  </div>

  <!-- User Charts Section -->
  <div class="chart-section mb-4 p-3 border rounded">
    <h3 class="section-title">Estadísticas de Usuarios</h3>
    <div class="charts d-flex justify-content-between mt-4">
      <div class="chart">
        <h6>Usuarios Activos e Inactivos</h6>
        <canvas
          baseChart
          height="220px"
          [type]="'pie'"
          [datasets]="pieChartUserActiveStatusDatasets"
          [labels]="pieChartUserActiveStatusLabels"
          [options]="pieChartOptions"
        ></canvas>
      </div>

      <div class="chart">
        <h6>Distribución de Roles de Usuario</h6>
        <canvas
          baseChart
          height="220px"
          [type]="'bar'"
          [datasets]="barChartUserRoleDatasets"
          [labels]="barChartUserRoleLabels"
          [options]="barChartOptions"
        ></canvas>
      </div>
    </div>
  </div>

  <!-- Role Charts Section -->
  <div class="chart-section mb-4 p-3 border rounded">
    <h3 class="section-title">Estadísticas de Roles</h3>
    <div class="charts d-flex justify-content-between mt-4">
      <div class="chart">
        <h6>Roles Activos e Inactivos</h6>
        <canvas
          baseChart
          height="220px"
          [type]="'pie'"
          [datasets]="pieChartRoleActiveStatusDatasets"
          [labels]="pieChartRoleActiveStatusLabels"
          [options]="pieChartOptions"
        ></canvas>
      </div>
    </div>
  </div>
  
</app-main-container>

