<app-main-container title="Cargar Archivos de Propietario" (infoButtonClick)="openInfo()">
  <form [formGroup]="filesForm" (ngSubmit)="onSubmit()" class="row g-3 m-2">

    @if (plots.length === 0) {
      <h3>Debes asociar un lote para cargar archivos</h3>
    } @else {

      <h5>Dni Frente</h5> 

      @if(uploadedFiles.get("dniFront")) {
        <h6><span class="badge text-bg-secondary">{{ translateTable(uploadedFiles.get('dniFront')?.approvalStatus, fileStatusDictionary) }}</span></h6>

        @if(uploadedFiles.get("dniFront")?.approvalStatus === "UPLOADED") {
          <div class="btn-group col-md-6">
            <button type="button" class="btn btn-info" (click)="openFile(uploadedFiles.get('dniFront')?.url)">Ver Archivo</button>
          </div>
        } @else {
          <div class="btn-group col-md-6">
            <button type="button" class="btn btn-info" (click)="openFile(uploadedFiles.get('dniFront')?.url)">Ver Archivo</button>
            <button type="button" class="btn btn-warning" (click)="openNotes(uploadedFiles.get('dniFront'))">Ver Notas</button>
          </div>
        }
      }
      @if(!uploadedFiles.get("dniFront") || !(uploadedFiles.get("dniFront")?.approvalStatus === "APPROVED" 
        || uploadedFiles.get("dniFront")?.approvalStatus === "PRE_APPROVED" 
        || uploadedFiles.get("dniFront")?.approvalStatus === "UPLOADED")) {
        
        <div class="input-group mb-3 mt-2">
          <label class="input-group-text" for="inputGroupFile01">DNI frente</label>
          <input
            type="file"
            class="form-control"
            id="inputGroupFile01"
            formControlName="dniFront"
            accept="image/*,.pdf"
            (change)="onFileSelectedOwner($event, 'dniFront', BatchFileType.ID_DOCUMENT_FRONT)"
          />
        </div>
      }

      <hr>

      <h5>Dni Dorso</h5>


      @if(uploadedFiles.get("dniBack") != undefined) {
        <h6><span class="badge text-bg-secondary">{{ translateTable(uploadedFiles.get('dniBack')?.approvalStatus, fileStatusDictionary) }}</span></h6>

        @if( uploadedFiles.get("dniBack")?.approvalStatus === "UPLOADED") {
          <div class="btn-group col-md-6">
            <button type="button" class="btn btn-info" (click)="openFile(uploadedFiles.get('dniBack')?.url)">Ver Archivo</button>
          </div>
        } @else {
          <div class="btn-group col-md-6">
            <button type="button" class="btn btn-info" (click)="openFile(uploadedFiles.get('dniBack')?.url)">Ver Archivo</button>
            <button type="button" class="btn btn-warning" (click)="openNotes(uploadedFiles.get('dniBack'))">Ver Notas</button>
          </div>
        }
        
      }
      @if(!uploadedFiles.get("dniBack") || !(uploadedFiles.get("dniBack")?.approvalStatus === "APPROVED" 
        || uploadedFiles.get("dniBack")?.approvalStatus === "PRE_APPROVED" 
        || uploadedFiles.get("dniBack")?.approvalStatus === "UPLOADED")) {
        
        <div class="input-group mb-3 mt-2">
          <label class="input-group-text" for="inputGroupFile01">DNI Dorso</label>
          <input
            type="file"
            class="form-control"
            id="inputGroupFile01"
            formControlName="dniBack"
            accept="image/*,.pdf"
            (change)="onFileSelectedOwner($event, 'dniBack', BatchFileType.ID_DOCUMENT_BACK)"
          />
        </div>
      }

    
      <hr />
    
      <div formArrayName="filesInput">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <h4>Lotes asociados</h4>
        </div>  
    
        @for(plot of plots; track plot) {
          <hr>
          <div class="m-2 p-2">
            N° Lote: {{plot.plotNumber}} | N° Manzana: {{plot.blockNumber}}
          </div>
          

          @if(uploadedFiles.get("plotFile-"+plot.id) != undefined) {
            <h6><span class="badge text-bg-secondary">{{ translateTable(uploadedFiles.get('plotFile-'+plot.id)?.approvalStatus, fileStatusDictionary) }}</span></h6>
      
            @if(uploadedFiles.get("plotFile-"+plot.id)?.approvalStatus === "UPLOADED") {
              <div class="btn-group col-md-6">
                <button type="button" class="btn btn-info" (click)="openFile(uploadedFiles.get('plotFile-'+plot.id)?.url)">Ver Archivo</button>
              </div>
            } @else {
              <div class="btn-group col-md-6">
                <button type="button" class="btn btn-info" (click)="openFile(uploadedFiles.get('plotFile-'+plot.id)?.url)">Ver Archivo</button>
                <button type="button" class="btn btn-warning" (click)="openNotes(uploadedFiles.get('plotFile-'+plot.id))">Ver Notas</button>
              </div>
            }
            
          }
          @if(!uploadedFiles.get("plotFile-"+plot.id) || !(uploadedFiles.get("plotFile-"+plot.id)?.approvalStatus === "APPROVED" 
            || uploadedFiles.get("plotFile-"+plot.id)?.approvalStatus === "PRE_APPROVED" 
            || uploadedFiles.get("plotFile-"+plot.id)?.approvalStatus === "UPLOADED")) {
            
              <div class="input-group mb-3 mt-2" [formGroupName]="'plotFile-'+plot.id">
                <label class="input-group-text" for="inputGroupFile02">Escritura</label>
                <input
                  type="file"
                  class="form-control"
                  id="inputGroupFile02"
                  formControlName="purchaseSale"
                  accept="image/*,.pdf"
                  (change)="onFileSelectedPlot($event, 'plotFile-'+plot.id)"
                />
              </div>
          }
    
          
        }
      </div>
    }


    <hr />
    <div class="col-12 d-flex justify-content-end mt-3">
      <div class="mx-2">
        <button type="button" class="btn btn-danger">Cancelar</button>
      </div>
      <div>
        <button type="submit" class="btn btn-primary">Enviar archivos</button>
      </div>
    </div>
  </form>
</app-main-container>