<!-- KPIs Row -->
<div class="row mb-3">
  @for (kpi of [
    { model: kpi1, notification: 'ENTRIES' },
    { model: kpi2, notification: 'TYPES' },
    { model: kpi3, notification: 'ENTRIES' },
    { model: kpi4, notification: 'INCONSISTENCIES' }
  ]; track $index) {
    <div class="col-3 d-flex align-content-center flex-wrap justify-content-center">
      <div class="hover-scale" style="height: 120px;">
        <app-kpi [kpi]="kpi.model" (click)="sendNotification(kpi.notification)"></app-kpi>
      </div>
    </div>
  }
</div>

<!-- Charts Rows -->
<div class="row mb-3">
  <!-- Gráfico de barras a la izquierda -->
  <div class="col-4 pe-1">
    <div class="hover-scale" style="height: 300px;"> 
      <app-barchart [graphModel]="graph1" (click)="sendNotification('ENTRIES')"></app-barchart>
    </div>
  </div>

  <!-- Gráfico circular en el centro -->
  <div class="col-4 px-1">
    <div class="hover-scale" style="height: 300px;"> 
      <app-piechart [graphModel]="graph3" (click)="sendNotification('TYPES')"></app-piechart>
    </div>
  </div>

  <!-- Gráfico de barras a la derecha -->
  <div class="col-4 ps-1">
    <div class="hover-scale" style="height: 300px;"> 
      <app-barchart [graphModel]="graph2" (click)="sendNotification('LATE')"></app-barchart>
    </div>
  </div>
</div>

<!-- Gráfico inferior -->
<div class="row">
  <div class="col-12">
    <div class="hover-scale" style="height: 200px;"> 
      <app-barchart [graphModel]="graph4" (click)="sendNotification('INCONSISTENCIES')"></app-barchart>
    </div>
  </div>
</div>