<app-main-container title="Lista de Movimientos Lote:{{plot.plotNumber}} Manzana:{{plot.blockNumber}}">

  <div class="d-flex justify-content-end">
    <h3 class="me-1">Balance: </h3>

    <h3 [ngClass]="[plot.balance < 0 ? 'text-success' : 'text-danger']">{{plot.balance | currency:'ARS':"symbol-narrow"}}</h3>
  </div>

  <!--- TABLE --->
  <div class="table-container">
    <table class="table table-striped fixed-table" style="border: 1px solid rgba(0, 0, 0, 0.150); border-collapse: collapse;" #conceptsTable>
      @if (conceptList.length === 0) {
        <thead>
          <td colspan="7">
            <div class="text-center p-2">
              <div class="alert alert-secondary text-center" role="alert">
                No hay elementos para mostrar
              </div>
            </div>
          </td>
          </thead>
      } @else {
        <thead>
          <tr>
            <th scope="col">Fecha</th>
            <th scope="col">Concepto</th>
            <th scope="col">Detalle</th>
            <th scope="col">Monto</th>
          </tr>
        </thead>
        <tbody>
          @for (concept of conceptList; track $index) {
            <tr>
              <td>
                {{ formatDate(concept.accountingDate) | date:'dd/MM/yyyy HH:mm' }}
              </td>
              <td>
                {{ translateTable(concept.concept, conceptTypesDictionary) }}
              </td>
              <td>
                {{ concept.comments }}
              </td>
              <td [ngClass]="[concept.concept === 'PAYMENT' ? 'text-success' : 'text-danger']">
                {{ concept.amount | currency:'ARS':"symbol-narrow" }}
              </td>
            </tr>
          }
        </tbody>
      }
    </table>
  </div>
  <!--- TABLE --->

  <!-- BOTONERA -->
  <div class="d-flex justify-content-between align-items-center mt-3">
    <div class="form-group mb-3 me-2">
      <select
        id="itemsPerPage"
        class="form-select"
        [(ngModel)]="pageSize"
        (change)="onItemsPerPageChange()"
      >
        @for(option of sizeOptions; track $index) {
          <option [value]="option">{{ option }} Elementos</option>
        }
      </select>
    </div>

    <ngb-pagination
      [(page)]="currentPage"
      [pageSize]="pageSize"
      [collectionSize]="totalItems"
      (pageChange)="onPageChange($event)"
      [maxSize]="5"
      [boundaryLinks]="false"
    ></ngb-pagination>
  </div>

  <div class="col-12 d-flex justify-content-start">
    <div class="mx-2">
      <button type="button" class="btn btn-info" (click)="goBack()">
        Volver
      </button>
    </div>
  </div>
  <!-- BOTONERA -->

</app-main-container>