<app-main-container title="Lista de Movimientos">
  
  <!--- TABLE --->
  <div class="table-container">
    <table class="table table-striped fixed-table" style="border: 1px solid rgba(0, 0, 0, 0.150); border-collapse: collapse;" #conceptsTable>
      @if (conceptList.length === 0) {
        <thead>
          <td colspan="7">
            <div class="text-center p-2">
              <div class="alert alert-secondary text-center" role="alert">
                No hay elementos para mostrar
              </div>
            </div>
          </td>
          </thead>
      } @else {
        <thead>
          <tr>
            <th scope="col">Fecha</th>
            <th scope="col">Concepto</th>
            <th scope="col">Detalle</th>
            <th scope="col">Monto</th>
          </tr>
        </thead>
        <tbody>
          @for (concept of conceptList; track $index) {
            <tr>
              <td>
                {{ concept.accountingDate }}
              </td>
              <td>
                {{ concept.concept }}
              </td>
              <td>
                {{ concept.comments }}
              </td>
              <td>
                {{ concept.amount | currency:'ARS':"symbol-narrow" }}
              </td>
            </tr>
          }
        </tbody>
      }
    </table>
  </div>
  <!--- TABLE --->

</app-main-container>